@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f2f3f9;
    --secondary-background-color: #fff;
    --text-color: #1d1d1d;
    --red: #e74c3c;
    --green: #4fb930;
    --accent-color: #27bcf3;
    --accent-color-light: #acdaec;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212942;
    --secondary-background-color: #262E48;
    --text-color: #F8F2F2;
    --red: #D15C4F;
    --green: #208767;
    --accent-color: #78A5FE;
    --accent-color-light: #a7c4ff;
  }
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#search,
#search::placeholder {
  border: none;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
}

#search:focus {
  outline: none;
}

#searchBar {
  background-color: var(--secondary-background-color);
  border: none;
  color: var(--text-color);
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 100%;
}

#copy {
  cursor: pointer;
}

#sidebar {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  flex: 1;
}

#func-details {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem 5rem;
  flex: 3;
  right: 0;
  overflow-y: scroll;
}

#func-details hr {
  margin: 1rem 0;
  border: 1px solid var(--accent-color-light);
}

#func-details h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  vertical-align: middle;
}

.param-signature,
.param-signature p,
.value-signature,
.value-signature p {
  display: inline;
  vertical-align: middle;
}

.param-signature i,
.value-signature i {
  font-size: 0.7rem;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  color: var(--accent-color-light);
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 6px;
  border: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-light);
}

#func-details h1 {
  text-transform: capitalize;
  display: flex;
  gap: 15px;
  align-items: center;
}

.param-name,
.value-name {
  font-weight: bold;
  color: var(--accent-color);
}

.param-name:hover,
.value-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.param-required {
  color: var(--red);
  content: "required";
}

.param-optional {
  color: var(--green);
}

.param-desc,
.value-desc {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.param-default:empty {
  display: none;
}

.param-default {
  font-size: 0.8rem;
}

.badge {
  cursor: default;
  background-color: var(--secondary-background-color);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--accent-color-light);
  width: fit-content;
  display: inline-block;
  margin: 0 0.5rem;
  vertical-align: middle;
  color: var(--accent-color);
}

.subtitle {
  font-size: 0.8rem;
  margin-top: -1rem;
}

#full-func-name {
  font-family: "Roboto Mono", monospace;
}


.func-group h1 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: capitalize;
}

.func-name {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.func-name:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.func-name:hover:not([active]) {
  text-decoration: underline;
}

.func-name[active] {
  color: var(--accent-color);
}

#func-groups {
  overflow-y: scroll;
  height: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

#snackbar {
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

#snackbar.show {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -ms-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
}

[tooltip]:hover:after {
  opacity: 1;
  transition: transform 0.5s 2s, opacity 0.5s 2s;
  visibility: visible;
  transform: translateX(0);
  -webkit-transition: transform 0.5s 2s, opacity 0.5s 2s;
  -moz-transition: transform 0.5s 2s, opacity 0.5s 2s;
  -ms-transition: transform 0.5s 2s, opacity 0.5s 2s;
  -o-transition: transform 0.5s 2s, opacity 0.5s 2s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

[tooltip]:after {
  content: attr(tooltip);
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  position: absolute;
  font-family: "Roboto", sans-serif;
  padding: 8px;
  bottom: -40px;
  left: 25%;
  font-size: 0.8rem;
  white-space: nowrap;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  font-weight: normal;
  text-transform: none;
}

[tooltip] {
  position: relative;
}

#func-src {
  cursor: pointer;
  font-size: 70%;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
}

ul:empty {
  display: none;
}

li i {
  color: var(--accent-color);
  margin-right: 0.5rem;
}

.value-children {
  margin-left: 1rem;
}

.collapsible {
  cursor: pointer !important;
}

.collapsible>div>div>i.fa-chevron-up {
  color: var(--accent-color);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;

}

.collapsible[collapsed]>div>div>i.fa-chevron-up {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.collapsible {
  margin-bottom: 14px;
}

.collapsible[collapsed] {
  margin-bottom: 0;
}

.collapsible[collapsed]>div>.value-children {
  opacity: 0;
  overflow: hidden;
  margin-left: 0;
  max-height: 0 !important;
  transition: max-height .5s;
  -webkit-transition: max-height .5s;
  -moz-transition: max-height .5s;
  -ms-transition: max-height .5s;
  -o-transition: max-height .5s;
}

.collapsible>div>.value-children {
  opacity: 1;
  transition: all .5s;
  transition: all .5s;
  -webkit-transition: all .5s, max-height .3s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}